[role=tab] {
    float:left;
    margin: 50px;
}
[role=tab][aria-selected=true]{
    color:red; //A blind person would not be doing CSS in industry anyway.
}
.phone-button {
    padding:200px;
}
div.pad{
    width: 100%;
}
