#tab-bar {
    position: fixed;
    top:0%;
    bottom:10%;
    width:100%;
}
[role=tab] {
    float:left;
    margin: 50px;
}
[role=tab][aria-selected=true]{
    color:red; //A blind person would not be doing CSS in industry anyway.
}
.phone-button {
    padding:20px;
}

#gesture-test {
    border: 20px;
    background-color: silver;
    width: 300px;
    height: 300px;
    float: left;
}
.gesture-edit {
    float: left;
}

.visuallyhidden {
    width: 1px;
    height: 1px;
    top: 50%;
    left: 50%;
}

#pannels {
    position: fixed;
    top: 10%;
    bottom: 100%;
    width: 100%;
}